html{
	font-size: 0.9em;
}

.container{
	margin-top: 20px;
}

.radios{
	display: flex;
	justify-content: space-between;
}

.checks{
	display: flex;
	justify-content: space-between;
}

.btn-save{
	margin-left: 10px;
}

.btn-finish{
	margin-left: 10px;
}

.snacks-container{
	margin-botton: 0px;
}

.calculator-message{
	margin-botton: 50px;
}

.calc-card{
	min-height: 600px;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}
